.buttons{
    display: flex;
}
.list{
    display: flex;
    justify-content: space-between;
}
.allList{
    background-color: rgba(0,0,0, 0.8);
    width: 235px;
    padding: 10px;
    color: darkorchid;
}