.select {
    width: 100px;
    color: black;
    background-color: rgba(131,266,151, 0.5);
    border: darkgreen 1px solid;
    border-radius: 5px 5px 0 0;
    outline: none;
    padding: 1px 5px;
    appearance: none;
    background-image: url("../../../../icons/arrow-down-a_icon-icons.com_50480.png");
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select:hover {
    border: forestgreen 1px solid;
}
.select:active {
    border:  1px solid;
}
.select:checked {
    border: forestgreen 1px solid;
}
.option {
    appearance: none;
    background-color: rgba(0,0,0, 0.8);
}
.option:hover {
    color: lawngreen;
    background-color: rgba(0,0,0, 0.8);
}
.option:checked {
    color: lawngreen;
    background-color: rgba(0,0,0, 0.8);
}
.option:focus {
    color: chartreuse;
}